* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* shared style */
.text-color-1 {
  color: #000000;
}
.text-color-2 {
  color: rgb(233, 90, 8);
}
.text-color-3 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
}

/* nav style  */
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  max-width: 1140px;
  margin: 0px auto;
}

.nav-list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 48px;
}
.nav-list li {
  list-style: none;
}
.nav-list li a {
  text-decoration: none;
  font-size: 1rem;
  font-family: Inter;
}

.home {
  color: rgb(37, 36, 50);
  font-weight: 700;
}
.shop {
  color: rgb(137, 135, 161);
  font-weight: 400;
}
.about {
  color: rgb(137, 135, 161);
  font-weight: 400;
}
.cart {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

/* banner style */

.banner {
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.banner-description {
  padding-top: 180px;
}
.banner-description h2 {
  font-family: Noto Serif;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description p {
  font-family: Inter;
  font-weight: 400;
  padding-top: 5px;
}
.banner-img {
  padding-top: 90px;
}
.banner-img img {
  width: 100%;
}

/* Plants Section style  */

.plants-section {
  text-align: center;
  margin: 0px auto;
  max-width: 1140px;
  margin-top: 120px;
}
.plants-section-description h4,
.latest-deal-description h2 {
  font-family: Noto Serif;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 68px;
}
.plants-section-description p,
.latest-deal-description p {
  font-family: Inter;
  font-weight: 400;
  max-width: 680px;
  margin: 0px auto;
}

/* card-section */

.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  max-width: 270px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
  background-color: rgb(255, 255, 255);
  margin-top: 49px;
}
.card img {
  border-radius: 5px;
  width: 100%;
  height: auto;
}
.card h6 {
  color: rgb(17, 17, 17);
  font-family: Inter;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 10px;
}
.card h5 {
  color: rgb(17, 17, 17);
  font-family: Inter;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.btn-primary {
  background: rgb(233, 90, 8);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  padding: 1.2rem 2.5rem;
  border: none;
  border-radius: 3px;
}

/* Plants Lover Section */

.plants-lover-section {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  gap: 70px;
  margin-top: 210px;
}
.plants-lover-section-img {
  max-width: 540px;
  position: relative;
}
.plants-lover-section-img1 {
  width: 100%;
  position: static;
}
.plants-lover-section-img2 {
  width: 60%;
  position: absolute;
  right: -20%;
  bottom: 70%;
}

.plants-lover-section-description {
  max-width: 540px;
}
.plants-lover-section-description h2 {
  font-family: Noto Serif;
  font-size: 3rem;
  font-weight: 700;
}
.plants-lover-section-description ul li {
  font-family: Inter;
  line-height: 27px;
  font-weight: 400;
  margin: 20px auto;
}

/* Latest Deal Section */
.latest-deal-container {
  margin-top: 133px;
}

.latest-deal-description {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
}

/* latest-deal-card */

.latest-deal-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  gap: 3px;
  margin-bottom: 120px;
}

.bloom,
.zoba,
.ana {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: white;
}

.bloom h5,
.ana h5 {
  font-size: 1.2rem;
  font-weight: 700;
}
.zoba h5 {
  font-size: 1.5rem;
  font-weight: 700;
}
.bloom p,
.ana p,
.zoba p {
  font-size: 1rem;
  font-weight: 600;
}
.latest-deals-image-2 h2 {
  font-size: 2rem;
  font-weight: 700;
}

.bloom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-bloom.png");
  background-repeat: no-repeat;
  max-width: 366px;
  height: 200px;
  border-radius: 10px;
  width: 100%;
}
.zoba {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-zabo.png");
  background-repeat: no-repeat;
  max-width: 750px;
  height: 410px;
  border-radius: 20px;
  width: 100%;
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
}
.ana {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-ana.png");
  background-repeat: no-repeat;
  max-width: 366px;
  height: 198px;
  border-radius: 10px;
  width: 100%;
}

/* responsive style  */

@media screen and (max-width: 576px) {
  * {
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
  }

  .text-color-3 {
    font-size: 0.8rem;
  }
  .nav-list ul {
    gap: 0px;
  }
  .home,
  .about,
  .shop {
    display: none;
    visibility: hidden;
  }
  /* banner section  */
  .banner {
    flex-direction: column-reverse;
  }
  .banner-description {
    padding-top: 28px;
  }
  .banner-description h2 {
    font-size: 1.2rem;
  }

  .banner-img {
    padding-top: 30px;
  }

  /* plants-section */

  .plants-section {
    text-align: center;
    margin-top: 20px;
  }
  .plants-section-description h4 {
    font-family: Noto Serif;
    font-size: 1.2rem;
    line-height: 30px;
  }
  .plants-section-description p {
    max-width: 336px;
  }

  /* card section  */
  .card-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .card h6 {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .card h5 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .btn-primary {
    font-size: 0.9rem;
    padding: 12px 0px;
  }

  /* Plants Lover Section */

  .plants-lover-section {
    flex-direction: column;
    margin-top: 50px;
    gap: 15px;
  }

  .plants-lover-section-img2,
  .br1 {
    display: none;
  }

  .plants-lover-section-description {
    max-width: 540px;
  }
  .plants-lover-section-description h2 {
    font-size: 1.3rem;
  }
  .plants-lover-section-description ul {
    margin-left: 30px;
  }
  .plants-lover-section-description ul li {
    line-height: 20px;
    margin: 10px auto;
  }

  /* Latest Deal Section */
  .latest-deal-container {
    margin-top: 20px;
  }

  .latest-deal-description {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  /* latest-deal-card */

  .latest-deal-card {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 50px;
    padding-left: 10px;
  }
  .zoba {
    max-width: 366px;
    height: 202px;
    border-radius: 10px;
    grid-row: auto;
    grid-column: auto;
    order: 3;
  }
}
